*{
    margin: 0;
    padding: 0;
}

nav{
  background-color: black;
  color: white;
  padding: 15px;
}

h1,li,ul {
    display: inline;
}

ul{
    margin-left: 69%;
   
}
li{
    color: grey;
     cursor: pointer;
}

li:hover{
    color: white;
}

input{
    width: 60%;
    padding: 15px;
}

.searchbar{
    text-align: center;
    padding: 50px;
}
 .box{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    width: 220px;   
 }

 .products{
    text-align: center;
 }

 .about{
    text-align: center;
    color: black;
    margin-top: 50px;
 }
